/******************************************************Tag Selectors********************************/
body {
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 1rem;
    background-color: #E4F9F5;
    color: #40514E;
}

h1 {
    font-size: 5.625rem;
    margin: 50px, auto, 0, auto;
    width: 10;
    padding-top: 100px;
    font-family: 'Sacramento', cursive;
    color: #66BFBF;


}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
}

h3 {
    font-family: 'Montserrat', sans-serif;

}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 10px;
    width: 5%;
    margin: 100px, auto;

}

p {
    line-height: 2;
}
a{
    font-family: 'Montserrat', sans-serif;
    color:#11999E;
    letter-spacing: 3px;
    margin: 10px 20px;
    text-decoration: none;
}
a:hover{
    color:green;
    text-decoration: underline;
    
}




/******************************************************Class Selectors********************************/
.top-container {
    background-color: #E4F9F5;
    position: relative;

}

.Profile-Pic {

    border-radius: 50%;

}

.title {
    font-weight: normal;
}


.name {
    text-decoration: underline;


}

.intro {
    width: 30%;
    margin: auto;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;


}

.bottom-cloud {
    position: absolute;
    left: 250px;
    bottom: 300px;

}


.middle-container {
    background-color: white;
    padding-top: 100px;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}

.Sheldon-Image {
    border-radius: 50%;
    width: 20%;
    height: 200px;
    float: left;
    margin-right: 30px;
}

.Brain-image {
    border-radius: 50%;
    width: 25%;
    height: 200px;
    float: right;
    margin-left: 30px;
    margin-top: 10px;
    clear: left;

}

.list1 {
    display: inline-block;
    clear: right;
    margin: 0;

    padding: 0;

}

.list2 {
    display: inline-block;
    margin: 0;
    position: relative;
    bottom: 15px;


}

.list3 {
    display: inline-block;
    margin: 0;
    position: relative;
    bottom: 30px;


}

.contact-me {
    padding-bottom: 100px;

}

.contact-message {
    width: 40%;
    margin: 40px auto 60px;
}


.bottom-container {
    background-color: #E4F9F5;
    height: 180px;
}

.Social-media {
    margin-top: 50px;
}

.footer-link1 {}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999E);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999E);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999E);
    background-image: -o-linear-gradient(top, #11cdd4, #11999E);
    background-image: linear-gradient(to bottom, #11cdd4, #11999E);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: underline;
}

.copyright{
    color:#11cdd4;
    font-size: 0.75rem;
    padding: 20px 0;
}